{%extends 'student/base.html'%}
{%block content%}
Name : {{std.name}}
<br>
Roll No : {{std.roll_no}}
<br>
Branch :
{{branch_name}}
<br>
Batch :
{{batch_name}}
<br>
Semester :
{{sem_name}}
<br>
<h2> Acadamics </h2> 
<h3>{{sem_name}}</h3>
<table>
<tr>
    <th>Course Name</th>
    <th>Course Code</th>
    <th>Grade Obtained</th>
</tr>
{%for course in courses %}
<tr>
<td>{{course.course_name }}</td>
<td>{{course.course_code}} </td>
<td>{{course.grade}}</td>
</tr>
{%endfor%}
</ol>
<a href="{%url 'student:student_form' std.id %}">Edit</a>
{%endblock%}